header {
  background-color: #222;
  position: relative;
  z-index: 1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
main {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
